beautifulsoup4==4.12.3
blinker==1.8.2
bottle==0.12.25
bs4==0.0.2
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
icrawler==0.6.9
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
numpy==2.0.0
pandas==2.2.2
pillow==10.4.0
proxy_tools==0.1.0
pycairo==1.26.1
PyGObject==3.48.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.14
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywebview==5.1
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
soupsieve==2.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.6
