<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start</title>
    <link
      rel="shortcut icon"
      href="../static/img/logo.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <main>
      <form id="delimiter-form" action="/delimiter" method="post">
        <article>
          <label for="delimiter">Choose a delimiter:</label>

          <select name="delimiter" id="delimiters">
            <option value=",">Comma</option>
            <option value=";">Semicolon</option>
          </select>
        </article>

        <article>
          <input type="submit" value="Submit" />
        </article>

        <p id="delimiter-message" style="font-size: 1rem"></p>
      </form>

      <button id="select-file-btn" class="button">Select file</button>

      <p id="loading">Loading...</p>

      <div class="result-container">
        <span>
          <a href="./table" id="data-table" rel="next">See CSV file Data</a>
        </span>
        <br />
        <p class="result"></p>
      </div>
    </main>
    <footer>
      <span class="copyright"
        >Made by
        <a
          href="https://github.com/srcrapi/"
          id="author"
          rel="author"
          target="_blank"
          >rap1</a
        ></span
      >
    </footer>

    <script>
      document
        .getElementById("delimiter-form")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // previne o comportamento padrão do form

          const formData = new FormData(event.target);

          fetch("/delimiter", {
            method: "POST",
            body: new URLSearchParams(formData), // converte os dados do form para uma string de consulta
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }

              return response.json();
            })
            .then((data) => {
              let delimiterMessage =
                document.getElementById("delimiter-message");

              delimiterMessage.innerHTML = data.message;

              setTimeout(() => (delimiterMessage.innerHTML = ""), 3000);
            })
            .catch((error) => console.error("Error:", error));
        });

      document
        .getElementById("select-file-btn")
        .addEventListener("click", () => {
          document.getElementById("loading").style.display = "block";
          document.getElementById("delimiter-form").style.display = "none";

          fetch("/data")
            .then((response) => {
              document.getElementById("loading").style.display = "none";

              if (response.ok) {
                document.getElementById("data-table").style.display = "block";
                document.querySelector(".result-container").style.display =
                  "flex";
                document.querySelector(".result").style.display = "block";

                return response.json();
              }
            })
            .then((data) => {
              let result = document.querySelector(".result");

              result.innerHTML = data.message;
            })
            .catch((error) => {
              document.getElementById("loading").style.display = "none";
              console.error("Error:", error);
            });
        });
    </script>

    <script src="/static/colors.js"></script>
    <script src="/static/background.js"></script>

    <script src="/static/main.js"></script>
  </body>
</html>
